@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --main-color: #d90429;
  --secondary-color: #ef233c;
  --white-color: #edf2f4;
  --gray-color: #8d99ae;
  --dark-color: #2b2d42;
  --margin: 10px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-color);
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--dark-color);
  margin: var(--margin);
  text-align: center;
}

.quotes {
  text-align: center;
  font-size: 15px;
  margin: var(--margin);
}
.quotes p {
  text-align: right;
  font-size: 12px;
}

.search-bar {
  width: 400px;
  display: flex;
  align-items: center;
  margin: var(--margin);
}

.search-bar input {
  outline: none;
  border: none;
  width: 350px;
  height: 35px;
  font-size: 17px;
  padding: 7px 15px;
  border: 1px solid var(--main-color);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.search-bar i {
  background-color: var(--main-color);
  color: var(--white-color);
  height: 35px;
  font-size: 17px;
  padding: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-bar i:hover {
  background-color: var(--secondary-color);
}

.search-results {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* RESPONSIVE SEARCH RESULTS */
@media (max-width: 1333px) {
  .search-results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 960px) {
  .search-results {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 571px) {
}

.food-container {
  max-height: 350px;
  margin-right: 46px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}

.food-container .food-img {
  max-height: 285px;
}

.food-container .food-detail {
  font-size: 17px;
  transform: translateY(-70px);
  background-color: #fff;
  height: 100px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.food-detail .btn {
  position: absolute;
  outline: none;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.food-detail .btn:hover {
  background-color: var(--secondary-color);
}

.result-food-detail.active {
  scale: 1;
}

.result-food-detail {
  scale: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 50px;
  overflow-y: scroll;
}

.result-food-detail .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  text-align: center;
  line-height: 35px;
  background-color: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.result-food-detail .close-btn:hover {
  background-color: var(--secondary-color);
}

.result-food-detail .detail-img img {
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
}

.detail-food-name {
  font-size: 45px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
}

hr {
  border: 1px solid var(--dark-color);
  margin: 10px 0;
}

.detail-food-category {
  font-size: 20px;
  color: var(--main-color);
}

.detail-food-tags {
  display: flex;
  justify-content: flex-start;
}

.detail-food-tags .tag {
  padding: 7px 15px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 15px;
  font-size: 12px;
  margin-right: 10px;
}

.subtitle {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

.ingredient-list li {
  list-style-type: circle;
  margin-left: 20px;
  font-size: 15px;
}

.detail-food-video {
  display: flex;
  justify-content: center;
}
