* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
  background-color: black;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover:after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
}
.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover:after,
.board.circle .cell:not(.x):not(.circle):hover:before,
.board.circle .cell:not(.x):not(.circle):hover:after {
  background-color: lightgray;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):before {
  transform: rotate(-45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):after {
  transform: rotate(45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover:before,
.board.circle .cell:not(.x):not(.circle):hover:after {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  position: absolute;
  border-radius: 50%;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover:after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 70px;
  letter-spacing: 10px;
}

.winning-message.show {
  display: flex;
}

#restartButton {
  margin-top: 10px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 45px;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#restartButton:hover {
  background-color: white;
  color: black;
}

.info {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  font-size: 35px;
  text-transform: capitalize;
}

#win-message {
  text-transform: capitalize;
}

@media only screen and (max-width: 900px) {
  .info {
    font-size: 28px;
  }

  .winning-message {
    font-size: 35px;
  }

  #restartButton {
    font-size: 25px;
  }
}
