* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.calculator-input {
  font-size: 4rem;
  border: none;
  background-color: #333;
  color: #ccc;
  text-align: right;
  padding: 0 20px;
  width: 100%;
  position: relative;
  height: 100px;
}

.first-value {
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  color: #333;
  font-size: 3rem;
  border: 1px solid #ccc;
  border: 2px solid #333;
  box-shadow: #333 5px 5px;
}

button:hover {
  background-color: #ccc;
}

.equal-sign {
  background-color: #fff;
  color: aqua;
  grid-area: 3/4/6/5;
  height: 100%;
  transition: all 0.3s ease-in;
}

#zero {
  grid-area: 5/1/5/3;
}

.equal-sign:hover {
  background-color: aqua;
  color: #fff;
}

.operator {
  color: rgb(10, 114, 114);
  transition: all 0.3s ease-in;
}

.operator:hover {
  background-color: rgb(10, 114, 114);
  color: #fff;
}

.clear {
  background-color: #fff;
  color: red;
  transition: all 0.3s ease-in;
}

.clear:hover {
  background-color: red;
  color: #fff;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
