@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #17255a;
  --bg-light: #f5e2c8;
  --color: #18206f;
  --color-light: #d88373;
}

.sign {
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}

body {
  font-family: "Edu NSW ACT Foundation", cursive;
  background-color: var(--bg-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

center {
  display: block;
}

.list-box {
  background-color: var(--color-light);
  border-radius: 25px;
  padding: 25px;
  font-size: 30px;
  text-align: center;
}

li {
  margin-left: 15px;
}

.list-item {
  margin-top: 15px;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: line-through;
}

.list-items {
  text-align: left;
  margin-top: 25px;
  max-height: 550px;
  height: 550px;
  overflow-y: scroll;
  min-width: 500px;
  width: 100%;
  padding-left: 15px;
}

.list-items::-webkit-scrollbar {
  display: none;
}

input {
  padding: 20px 10px;
  font-size: 22px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--bg-color);
  outline: none;
  color: var(--color);
  width: 100%;
}

input::placeholder {
  color: var(--bg-color);
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  body {
    font-family: "Edu NSW ACT Foundation", cursive;
    background-color: var(--bg-color);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .list-box {
    padding: 15px;
    font-size: 20px;
    max-width: 300px;
  }

  input {
    padding: 10px 5px;
    font-size: 16px;
    border-bottom: 1px solid var(--bg-color);
    width: 100%;
  }

  .list-items {
    max-height: 350px;
    height: 350px;
    min-width: 300px;
    max-width: 300px;
  }
}
