:root {
  --white-bg: #f4f4f4;
  --blue-bg: #96d4fc;
  --button-bg-color: #b5dffd;
  --font-color: #383838;
}

.dark-mode {
  --white-bg: #262729;
  --blue-bg: #133c57;
  --button-bg-color: #0e273c;
  --font-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-bg);
  color: var(--font-color);
}

.calculator-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.history-container {
  position: absolute;
  top: 0;
  left: -101%;
  width: 70%;
  height: 100%;
  z-index: 500;
  background-color: var(--white-bg);
  color: var(--font-color);
  transition: all 0.3s ease;
  padding: 20px 10px;
}

.history-container-title {
  font-size: 20px;
  font-weight: bold;
}

.history-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.history-list-item {
  margin-top: 20px;
}

.history-container.active {
  left: 0;
}

.top-side {
  width: 100%;
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  background: var(--white-bg);
}

.icons {
  background: var(--blue-bg);
  border-radius: 20px;
  width: 100px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.fa-sun {
  width: 100%;
  border-radius: 25px;
  height: 100%;
  padding: 2px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
}

.fa-sun.active {
  background: var(--white-bg);
}

.fa-moon {
  width: 100%;
  border-radius: 25px;
  height: 100%;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s ease;
}

.fa-moon.active {
  color: #f4f4f4;
  background: #262729;
}

.history {
  position: absolute;
  top: 20px;
  right: 20px;
}

.answer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 25px;
  text-align: right;
  justify-self: flex-end;
  align-self: flex-end;
}

.first-value {
  color: #797979;
}

.answer-value {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
}

.equal {
  font-size: 35px;
}

.keyboard {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 60%;
  background: var(--blue-bg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.key {
  background: var(--button-bg-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  color: inherit;
}

.top-3 {
  background: var(--button-bg-color);
  border-radius: 50px;
  grid-area: 1 / 1 / 2 / 4;
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-3-key {
  background-color: transparent;
}

.right-3 {
  width: 60px;
  height: 95%;
  grid-area: 1 / 4 / 6 / 5;
  background-color: var(--button-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.keyboard-equal {
  background-color: var(--button-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
}

@media (min-width: 991px) {
  .calculator-container {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 920px;
    width: 450px;
  }

  .history-container {
    width: 20%;
  }

  .key {
    width: 80px;
    height: 80px;
  }

  .top-3 {
    width: 100%;
  }

  .right-3 {
    width: 80px;
    height: 97%;
  }

  .keyboard-equal {
    width: 80px;
    height: 80px;
  }
}
