* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  z-index: -100;
  position: relative;
  display: flex;
  justify-content: center;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -100;
}

center {
  position: absolute;
  bottom: 0;
  z-index: -500;
}

.container {
  position: relative;
  height: 100%;
  padding-top: 10%;
}

.time-countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time-container {
  background-color: #fff;
  border-radius: 10px;
  font-size: 100px;
  width: 200px;
  height: 200px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  justify-content: center;
}

.time-container .title,
.time-container .time {
  color: #333;
}

.time-container .title {
  font-size: 20px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

ul {
  list-style-type: none;
}

#leftMenuIcon {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#leftMenuIcon.active {
  left: 330px;
}

.left-menu {
  background-color: #fff;
  position: absolute;
  width: 300px;
  height: 100%;
  left: -300px;
  top: 0;
  transition: all 0.3s ease;
  color: #333;
  padding: 20px 10px;
}

.person-title {
  border-bottom: 2px solid #333;
  font-size: 35px;
  margin-bottom: 50px;
}

.person-list {
  text-align: center;
  max-height: 800px;
  overflow-y: scroll;
}

.person-list::-webkit-scrollbar {
  display: none;
}

.person-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 50px;
}

.person-list-item h3 {
  text-align: left;
  width: 150px;
  overflow-x: hidden;
}

.person-list-item i {
  cursor: pointer;
}

.left-menu.active {
  left: 0;
}

.add-person-button {
  position: absolute;
  background-color: blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  left: 50%;
  bottom: 20px;
  cursor: pointer;
  transition: 0.3s ease-in;
  transform: translateX(-50%);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.add-person-button:hover {
  opacity: 0.8;
}

.add-person-container {
  display: none !important;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.add-person-container.active {
  display: flex !important;
}

.form-container {
  background-color: #fff;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  flex-direction: column;
  font-size: 18px;
}

.form-container input {
  outline: none;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 25px;
  border-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.addPersonButton {
  outline: none;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.addPersonButton:hover {
  opacity: 0.8;
}

.form-container {
  position: relative;
}

.close-button {
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.settings-button {
  display: flex;
}

.settings-button > div {
  margin-left: 10px;
}

.person-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.person-info .birthday {
  color: gray;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  body {
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    background-size: auto;
    background-position: right;
  }

  .container {
    padding-top: 0;
    display: flex;
  }

  .time-countdown {
    flex-direction: column;
  }

  .time-container {
    width: 150px;
    height: 150px;
  }

  .time-container .time {
    font-size: 85px;
  }

  .time-container .title {
    font-size: 16px;
  }

  .left-menu .person-title {
    font-size: 25px;
    border-bottom: 1px solid #333;
  }

  .left-menu {
    width: 270px;
  }

  .left-menu .person-list {
    max-height: 500px;
    overflow-y: scroll;
  }

  .left-menu .person-list-item {
    font-size: 16px;
  }

  #leftMenuIcon {
    top: 20px;
    left: 20px;
    font-size: 20px;
  }

  #leftMenuIcon.active {
    left: 290px;
  }

  .form-container {
    width: 350px;
    height: 350px;
    font-size: 16px;
  }

  .form-container input {
    border-bottom: 1px solid #333;
    font-size: 18px;
    border-top: 15px;
  }

  form {
    margin-bottom: 20px;
  }

  .addPersonButton {
    border-radius: 20px;
    font-size: 14px;
    margin-top: 15px;
  }

  .close-button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .time-container {
    width: 120px;
    height: 120px;
  }

  .time-container .time {
    font-size: 70px;
  }

  .time-container .title {
    font-size: 14px;
  }

  .left-menu .person-title {
    font-size: 22px;
    border-bottom: 1px solid #333;
  }

  .left-menu {
    width: 250px;
  }

  .left-menu .person-list-item {
    font-size: 13px;
  }

  #leftMenuIcon {
    top: 20px;
    left: 20px;
    font-size: 18px;
  }

  #leftMenuIcon.active {
    left: 270px;
  }

  .form-container {
    width: 250px;
    height: 250px;
    font-size: 13px;
  }

  .form-container input {
    border-bottom: 1px solid #333;
    font-size: 16px;
    border-top: 15px;
  }

  form {
    margin-bottom: 20px;
  }

  .addPersonButton {
    border-radius: 20px;
    font-size: 12px;
    margin-top: 15px;
  }

  .close-button {
    font-size: 18px;
  }
}
